@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

:root{
    text-align: center;
    font-family: 'Viga', sans-serif;
    --color1: #A3B1CA;
    --color2: #56657F;
    --color3: #48546A;
    --color4: #293345;
    --color5: #1D222A;
    --color6: #121418;
}
body{
    margin: 0;
    padding: 0;
    color: var(--color1);
}
.page-wrap{
    display: grid;
    background-color: var(--color4);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 20vw 70vw 10vw;
    grid-template-areas:

    'header header header'
    'ad calc null'
    'footer footer footer'    
}

header{
    grid-area: header;
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;

}

header .title{
    font-weight: normal;
    margin: 0;
    font-size: calc(1em + 3vh);
}

.ad{
    grid-area: ad;
    background-color: var(--color4);
    display: flex;
    justify-content: right;
    align-items: center;
    justify-self: right;
    word-wrap: normal;
    max-width: 200px;
    
}
.ad p{
    position:relative;
    word-wrap: normal;
    font-size: 4vw;

}

.calc{
    padding: 5% 20% 5% 20%;
    color: var(--color5);
    grid-area: calc;
    background-color:var(--color3);
    display: grid;
    grid-template-rows: 18.5%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'output output output output'
        'seven eight nine ac'
        'four five six divide'
        'one two three multiply'
        'zero decimal c subtract'
        'enter enter enter add'
}
.output{
    font-family: monospace;
    grid-area: output;
    background-color: var(--color1);
    color: var(--color5);
    min-height: 20px;
    font-size: 5vh;
    align-content: center;
    padding-top: 3%;
    padding-right: 2%;
    text-align: right;
    text-overflow: ellipsis;
    font-weight: bold;
    border-radius: 20px;
    border-collapse: separate;
    margin-bottom: 4%;
}
.numpad{
    font-size: 5vh;
    font-weight: bold;
    border-radius: 20%;
    margin: 2%;
    border-collapse: separate;
    color: var(--color1);
    background-color: var(--color5);
}
.operation{
    font-size: 5vh;
    font-weight: bold;
    border-radius: 20%;
    margin: 2%;
    color: var(--color5);
    background-color: var(--color2);
}
#enter{
    grid-area: enter;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zero;
}
#decimal{
    grid-area: decimal;
}
#add{
    grid-area: add;
}
#subtract{
    grid-area: subtract;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#ac{
    grid-area: ac;
}
#c{
    grid-area: c;
}
footer{
    display: flex;
    background-color:var(--color5);
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: calc(1vw + 1em);

}

@media only screen and (min-width: 1000px){

    .ad p{
    font-size: 2.45em;
    }
}

@media only screen and (min-width: 1300px){
    .page-wrap{
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-areas:
    
        'header header header'
        'ad calc null'
        'footer footer footer'    
    }
}

@media only screen and (max-width: 1000px){
    
    .page-wrap{
        display:grid;
        grid-template-rows: 10vh 65vh 15vh 10vh;
        grid-template-columns: 100vw;
        grid-template-areas:
        'header'
        'calc'
        'ad'
        'footer'
    }
    .ad{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        word-wrap: normal;
        max-width: 100%;
        padding: 0% 10% 0 10%;
        min-height: 50px;
     }
    
}
@media screen and (orientation: landscape){
    .page-wrap{
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-columns: 20vw 70vw 10vw;
        grid-template-areas:
        'header header header'
        'ad calc null'
        'footer footer footer'    
    }
    @media screen and (max-height: 500px){
        .ad p{
            font-size: 5vh
        }
    }
}