@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

:root{
    text-align: center;
    font-family: 'Viga', sans-serif;
    --color1: #A3B1CA;
    --color2: #56657F;
    --color3: #48546A;
    --color4: #293345;
    --color5: #1D222A;
    --color6: #121418;
}
body{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 400px;
    margin: 0;
    padding: 0;
    color: var(--color1);

}
.page-wrap{
    display: grid;
    min-height: 100vh;
    background-color: var(--color3);
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100vw;
    width: 100%;
    grid-template-areas:
    'header'
    'calc'
    'footer'
}

header{
    width: 100%;
    grid-area: header;
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;

}

header .title{
    font-weight: normal;
    margin: 0;
    font-size: calc(2em + 1.5vh);
}



.calc{
    align-self: center;
    justify-self: center;
    width: 85%;
    height: 90%;
    min-height: 320px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--color5);
    grid-area: calc;
    background-color:var(--color3);
    display: grid;
    max-width: 1000px;
    grid-template-rows: 15% 17% 17% 17% 17% 17%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'output output output output'
        'seven eight nine ac'
        'four five six divide'
        'one two three multiply'
        'zero decimal c subtract'
        'enter enter enter add'
}
.output{
    font-family: monospace;
    grid-area: output;
    background-color: var(--color1);
    color: var(--color5);
    min-height: 40px;
    font-size: calc(1.5em + 4vh);
    align-self: center;
    justify-self: stretch;
    text-align: right;
    padding-right: 2%;
    white-space: nowrap;
    overflow-x: auto;
    direction: rtl;
    overflow-y: hidden;
    font-weight: bold;
    border-radius: 20px;
    border-collapse: separate;
    margin-bottom: 2vh;
    max-width: 1000px;
}
.numpad{
    font-size: calc(1.5em + 2vh);
    font-weight: bold;
    border-radius: 20%;
    margin: 1.5%;
    border-collapse: separate;
    color: var(--color1);
    background-color: var(--color5);
    min-height: 30px;
}
.operation{
    font-size: calc(1.5em + 2vh);
    font-weight: bold;
    border-radius: 20%;
    margin: 1.5%;
    color: var(--color5);
    background-color: var(--color2);
    min-height: 30px;
}
#equals{
    grid-area: enter;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zero;
}
#decimal{
    grid-area: decimal;
}
#add{
    grid-area: add;
}
#subtract{
    grid-area: subtract;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#clear{
    grid-area: ac;
    background-color: #553515;
    color: var(--color1);
}
#c{
    grid-area: c;
}
footer{
    width: 100%;
    display: flex;
    background-color:var(--color5);
    align-items: center;
    justify-content: center;
    grid-area: footer;
    font-size: calc(1vw + 1em);
    min-height: 40px;

}
@media only screen and (min-width: 1000px){
    .numpad{
        margin: 1%;
    }
    .operation{
        margin: 1%;
    }
}