@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

:root{
    text-align: center;
    font-family: 'Viga', sans-serif;
    color:#C7CAE1;
}
body{
    margin: 0;
    padding: 0;
}
.page-wrap{
    display: grid;
    background-color:#A4A9CE;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 20vw 70vw 10vw;
    grid-template-areas:

    'header header header'
    'ad calc null'
    'footer footer footer'    
}

header{
    grid-area: header;
    background-color: #464F8E;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .title{
    font-weight: normal;
    margin: 0;
    font-size: 2em;
}

.ad{
    grid-area: ad;
    background-color: #6269A3;
    display: flex;
    justify-content: right;
    align-items: center;
    justify-self: right;
    word-wrap: normal;
    max-width: 200px;
}
.ad p{
    position:relative;
    word-wrap: normal;
    font-size: 4vw;

}

.calc{
    padding: 5% 20% 5% 20%;
    grid-area: calc;
    background-color:#A4A9CE;
    display: grid;
    grid-template-rows: 18.5%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'output output output output'
        'seven eight nine ac'
        'four five six divide'
        'one two three multiply'
        'zero decimal c subtract'
        'enter enter enter add'
}
.output{
    font-family: monospace;
    grid-area: output;
    background-color: white;
    font-size: 2.5em;
    color: #333;
    align-content: center;
    padding-top: 2vh;
    text-align: right;
    font-weight: bold;
}
.numpad{
    font-size: 2em;
    font-weight: bold;
}
.operation{
    font-size: 2em;
    font-weight: bold;
}
#enter{
    grid-area: enter;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zero;
}
#decimal{
    grid-area: decimal;
}
#add{
    grid-area: add;
}
#subtract{
    grid-area: subtract;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#ac{
    grid-area: ac;
}
#c{
    grid-area: c;
}
footer{
    display: flex;
    background-color:#464F8E;
    align-items: center;
    justify-content: center;
    grid-area: footer;

}

@media only screen and (min-width: 1000px){

    .ad p{
    font-size: 2.45em;
    }
}

@media only screen and (min-width: 1300px){
    .page-wrap{
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-areas:
    
        'header header header'
        'ad calc null'
        'footer footer footer'    
    }
}

@media only screen and (max-width: 1000px){
    
    .page-wrap{
        display:grid;
        grid-template-rows: 10vh 65vh 15vh 10vh;
        grid-template-columns: 100vw;
        grid-template-areas:
        'header'
        'calc'
        'ad'
        'footer'
    }
    .ad{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        word-wrap: normal;
        max-width: 100%;
        padding: 0% 10% 0 10%;
     }
    
}