@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");

:root {
  font-family: "Viga", sans-serif;
  --color1: #a3b1ca;
  --color2: #56657f;
  --color3: #48546a;
  --color4: #293345;
  --color5: #1d222a;
  --color6: #121418;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  background-color: var(--color5);
    padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#gradient{
  
  background-image: radial-gradient(#0a6c03,#063d02);
  border-radius: 10%;
}

#wrapper {
  text-align: center;
  align-self: center;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 90vw;
  height: 80vh;
  min-height: 480px;
  min-width: 512px;
  position: relative;
  border-radius: 10%;
  max-width:45rem;
  max-height: 40rem;
  display: grid;
  align-content: flex-start;
  grid-template-columns: 14.28% 14.29% 14.29% 14.29% 14.28% 14.29% 14.28%;
  grid-template-rows: auto max-content;
  grid-template-areas:
    "deck cards cards aceOne aceTwo aceThree aceFour"
    "stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven";

}

#spacer {
  grid-area: spacer;
}
#empty {
  grid-area: empty;
}
#stackOne {
  grid-area: stackOne;
}
#stackTwo {
  grid-area: stackTwo;
}
#stackThree {
  grid-area: stackThree;
}
#stackFour {
  grid-area: stackFour;
}
#stackFive {
  grid-area: stackFive;
}
#stackSix {
  grid-area: stackSix;
}
#stackSeven {
  grid-area: stackSeven;
}
#aceOne {
  grid-area: aceOne;
}
#aceTwo {
  grid-area: aceTwo;
}
#aceThree {
  grid-area: aceThree;
}
#aceFour {
  grid-area: aceFour;
}



.stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  10vw;
  max-width: 5rem;
  min-width: 50px;
  height: max-content;
  min-height: 10vh;
  margin: 20% 0vw 0vw 0vw;
}
.cardPic {
  width: 10vw;
  position: absolute;
  max-width: 5rem;
  padding: 0px;
  align-self: center;
}
.firstPic {
  top: 0px;
  margin-top: 0px;
}

#deck {

    margin-top: 3vh;
    grid-area: deck;
    position: relative;
    max-width: 5rem;
    max-height: 7.26125rem;
    width: 10vw;
    height: 14.5225vw;
    border-right-style: none;
    border-top-right-radius: 0%;
  }

#cards {
  grid-area: cards;
  margin-left: 3vw;
  margin-top: 3vh;
  position: relative;
  display: flex;
  align-content: flex-start;
  justify-items: flex-start;
  height: 14.5225vw;
  width: calc(10vw + 2em);
  max-width: 7rem;
  max-height: 7.26125rem;

}
.ace{
  display: flex;
  position: relative;
  align-content: center;
  margin: 3vh 0vw 0px 0vw;
  width: 10vw;
  height: 14.5225vw;
  max-width: 5rem;
  max-height: 7.26125rem;
}

#buttons{
  display: flex;
  width: 90vw;
  max-width: 45rem;
  justify-content: space-around;
}

#ng{
    position: relative;
    left: 5vw;
    font-family: "viga", sans-serif;
    border-radius: 10%;
    color: var(--color5);
    background-color: var(--color1);
    size: 10vw, 3vh;
}
#undraw{
  position: relative;
  right: 5vw;
  opacity: 0.4;
  font-family: "viga", sans-serif;
  color: var(--color5);
  background-color: var(--color1);
  border-radius: 10%;
}

.bottomless{
    border: 5px solid var(--color5);
    border-radius: 8%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.selected{
    border: 5px solid gold;
    border-radius: 10%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-left: 0.5rem;
}
