@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");

:root {
  font-family: "Viga", sans-serif;
  --color1: #a3b1ca;
  --color2: #56657f;
  --color3: #48546a;
  --color4: #293345;
  --color5: #1d222a;
  --color6: #121418;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  background-color: var(--color5);
    padding: 0px;
  margin: 0px;
  overflow-x: auto;
}

#gradient{
  
  background-image: radial-gradient(#0a6c03,#063d02);
  border-radius: 10%;
  overflow-y: hidden;
}

#wrapper {
  text-align: center;
  align-self: center;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 90vw;
  height: 80vh;
  position: relative;
  border-radius: 10%;
  max-width: 50em;
  max-height: 50em;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto max-content;
  grid-template-areas:
    "deck cards cards aceOne aceTwo aceThree aceFour"
    "stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven";

}

#spacer {
  grid-area: spacer;
}
#empty {
  grid-area: empty;
}
#stackOne {
  grid-area: stackOne;
}
#stackTwo {
  grid-area: stackTwo;
}
#stackThree {
  grid-area: stackThree;
}
#stackFour {
  grid-area: stackFour;
}
#stackFive {
  grid-area: stackFive;
}
#stackSix {
  grid-area: stackSix;
}
#stackSeven {
  grid-area: stackSeven;
}
#aceOne {
  grid-area: aceOne;
}
#aceTwo {
  grid-area: aceTwo;
}
#aceThree {
  grid-area: aceThree;
}
#aceFour {
  grid-area: aceFour;
}



.stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  1fr;
  max-width: 6em;
  min-width: 50px;
  max-height: 1fr;
  height: 10vh;
  margin: 30% 0vw 0vw 0vw;
}
.cardPic {
  width: 10.5vw;
  position: absolute;
  max-width: 6em;
  max-height: 8.7135em;
  padding: 0px;
  align-self: center;
}
.firstPic {
  top: 0px;
  margin-top: 0px;
}

#deck {

    margin-top: 2vh;
    grid-area: deck;
    position: relative;
    max-width: 6em;
    max-height: 8.7135em;
    width: 1fr;
    height: 14.5225vw;
    border-right-style: none;
    border-top-right-radius: 0%;
  }

#cards {
  grid-area: cards;
  position: relative;
  display: flex;
  align-content: flex-start;
  width: calc(10.5vw + 2em);
  max-width: 8em;
  max-height: 1fr;
  height: 1fr;
  margin: 2vh 2.5vw 0vw 5vw;

}
.ace{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin: 2vh 0vw 0px 0vw;
  width: 10.5vw;
  max-width: 6em;
  height: 1fr;

}

#buttons{
  display: flex;
  width: 100%;

  justify-content: center;

}

#ng{
  font-weight: bold;
  font-size: 1.5em;
    position: relative;
    font-family: "viga", sans-serif;
    color: var(--color4);
    background-color: var(--color1);
    width: 100%;
    height: 7vh;
}
#undraw{
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  opacity: 0.4;
  font-family: "viga", sans-serif;
  color: var(--color4);
  background-color: var(--color1);

  width: 100%;
  height: 7vh;
}

.bottomless{
    border: 5px solid var(--color5);
    border-radius: 8%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.selected{
    border: 5px solid gold;
    border-radius: 10%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-left: 0.5rem;
}
/*
@media only screen and (orientation: landscape){

  #wrapper {
    text-align: center;
    align-self: center;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 90vw;
    height: 80vh;
    min-height: 480px;
    min-width: 512px;
    position: relative;
    border-radius: 10%;
    max-width:70rem;
    max-height: 40rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "deck stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven"
      "cards stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven"
      "aceOne stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven"
      "aceTwo stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven"
      "aceThree stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven"
      "aceFour stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven";
  }

  #cards{
    margin: 0px;
  }
  .ace{
    margin-top: 0px;
  }
}