@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");

:root {
  font-family: "Viga", sans-serif;
  --color1: #a3b1ca;
  --color2: #56657f;
  --color3: #48546a;
  --color4: #293345;
  --color5: #1d222a;
  --color6: #121418;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  background-color: var(--color5);
  margin: 0px;
  padding: 0px;
}

#gradient{
  
  background-image: radial-gradient(#0a6c03,#063d02);
  border-radius: 10%;
  width: 99vw;
  height: 70vw;
  max-height: 70vh;
  max-width: 800px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.row {
  position: relative;
  max-width: 800px;
  align-content: flex-start;
  text-align: center;
  justify-content: center;
}
#rowOne{
  width: 80%;
  height: 15%;
  max-height: 14vw;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 25% 15% 15% 15% 15%;
  grid-template-areas:
  'deck cards aceOne aceTwo aceThree aceFour';
}
#rowTwo{
  display: grid;
  position: relative;
  justify-self: stretch;
  height: 75%;
  margin-top: 7%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
  "stackOne stackTwo stackThree stackFour stackFive stackSix stackSeven";
  width: 95%;


}
#stackOne {
  grid-area: stackOne;
}
#stackTwo {
  grid-area: stackTwo;
}
#stackThree {
  grid-area: stackThree;
}
#stackFour {
  grid-area: stackFour;
}
#stackFive {
  grid-area: stackFive;
}
#stackSix {
  grid-area: stackSix;
}
#stackSeven {
  grid-area: stackSeven;
}
#aceOne {
  grid-area: aceOne;
}
#aceTwo {
  grid-area: aceTwo;
}
#aceThree {
  grid-area: aceThree;
}
#aceFour {
  grid-area: aceFour;
}



.stack {
  position: relative;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: flex-start;
  width:  10.5vw;
  max-width: 80px;
  max-height: 116.18px;
  height: 10vw;
}
.cardPic {
  width: 10.5vw;
  position: absolute;
  max-width: 80px;
  max-height: 116.18px;
  padding: 0px;
  align-self: center;
}
.firstPic {
  top: 0px;
  margin-top: 0px;
}

#deck {
    grid-area: deck;
    position: relative;
  }
@media only screen and(min-width: 1200px){
  #deck{
    margin-left: 150px;
  }
}

#cards {
  grid-area: cards;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  min-width: 120px;
  max-width: 14.2857142857%;

}
.ace{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 10.5vw;
  max-width: 80px;
  height: 1fr;

}

#buttons{
  display: flex;
  width: 100%;
  min-height: 2em;

}

#ng{
  font-weight: bold;
  font-size: 1.5em;
    position: relative;
    font-family: "viga", sans-serif;
    color: var(--color4);
    background-color: var(--color1);
    width: 100%;
}
#undraw{
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  opacity: 0.4;
  font-family: "viga", sans-serif;
  color: var(--color4);
  background-color: var(--color1);

  width: 100%;
}

.bottomless{
    border: 3px solid var(--color5);
    border-radius: 8%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.selected{
    border: 5px solid gold;
    border-radius: 10%;
    border-bottom-style: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-left: 0.5rem;
}
#instru{
  text-align: center;
  align-self: center;
  overflow-wrap: normal;
}
@media only screen and (max-width: 620px){
  #cards{
    right: 4vw;
  }
}
@media only screen and (max-width: 510px){
  #cards{
    right: 8vw;
  }
}
@media only screen and (max-width: 440px){
  #cards{
    right: 11vw;
  }
}
@media only screen and (max-width: 400px){
  #cards{
    right: 13vw;
  }
}
@media only screen and (max-width: 370px){
  #cards{
    right: 15vw;
  }
}
@media only screen and (max-width: 345px){
  #cards{
    right: 17vw;
  }
}
@media only screen and (max-width: 325px){
  #cards{
    right: 19vw;
  }
}